.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;
  margin-right: 8px;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:pressed {
  border: 1px solid #4e75ff;
}

.form-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 42px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.options-div {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 48px;
  background-color: #fff;
}

.item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-div-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-div-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.modal {
  cursor: pointer;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 36px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
  box-shadow: 0 2px 0 #4e75ff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 36px;
}

.hidden {
  display: none;
  opacity: 0;
}
