/* .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;
  margin-right: 8px;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:pressed {
  border: 1px solid #4e75ff;
}

.form-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 42px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.options-div {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 48px;
  background-color: #fff;
}

.item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-div-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-div-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.modal {
  cursor: pointer;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 36px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
  box-shadow: 0 2px 0 #4e75ff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 36px;
}

.hidden {
  display: none;
  opacity: 0;
} */


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.shoppinglist-book {
  display: flex;
  gap: 24px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 30px 24px;
  width: 996px;

  background-color: #fff;
}

.shoppinglist-tb-div {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-bottom: 14px;
}

.shoppinglist-titcat-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.shoppinglist-total-div {
  display: flex;
  flex-direction: column;
  width: 854px;
}

.shoppinglist-low-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppinglist-book-low-ul {
  display: flex;
  gap: 16px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.shoppinglist-desauthorlink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}
.shoppinglist-book-image {
  width: 116px;
  height: 165px;
  border-radius: 8px;
}

.shoppinglist-book-deletebutton {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background-image: url("../img/dump.png");
}

.shoppinglist-book-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}

.shoppinglist-book-category {
  font-family: "DM Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.shoppinglist-book-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #111;
}

.shoppinglist-book-author {
  font-family: "DM Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.shoppinglist-book-button-img {
  width: 34px;
  height: 34px;
}


/* =============================новые стили================= */

.books {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* 
.shop-list-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 40px;
}
.shop-list-title-span {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    color: #4f2ee8;
} */

 